flask==3.0.3
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
requests==2.32.3
python-dotenv==1.0.1
timezonefinder==6.5.3
geopy==2.4.1
pytz==2025.1
python-dateutil==2.9.0.post0
openai==1.50.2
urllib3==2.2.3


